<section class="cards">
  <app-edit-card 
    *ngIf="controlEdit.add_card_show" 
    buttonValue="添加"
    (cancelClick)="addCancelButtonClick()"
    (submitClick)="cards.push($event)"
    [type]="1" ></app-edit-card>
  <app-edit-card 
    *ngIf="changeCard" 
    buttonValue="修改"
    (cancelClick)="this.changeCard=false"
    [type]="2"
    [cardInfo]="editCard" ></app-edit-card>
  <app-card 
    *ngFor="let card of cards" 
    [card]="card"
    title="{{ card.title }}"
    (deleteClick)="onDeleteClick($event)"
    (editClick)="onEditClick($event)" ></app-card>
</section>
